@import url('./stylesConstants.css');

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--white-color);
  width: 370px;
  margin-right: 28px;
  border-radius: 10px;
  border: 1px solid var(--dark-green-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.AvatarAndName {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PetName {
  margin-top: 21px;
  margin-bottom: 14px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
}

/* .PhotoPet {
  width: 200px;
  margin-bottom: 14px;
} */

.changeAvatar {
  display: flex;
  border: none;
  color: var(--dark-green-color);
  background-color: var(--white-color);
  margin-top: 5px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.avatarShape {
  display: flex;
  border-radius: 50%;
  object-fit: cover;
  width: 180px;
  height: 180px;
}

.avatarSample {
  background-color: var(--grey-green-color);
}

.Line {
  color: var(--dark-green-color);
  background-color: var(--dark-green-color);
  width: 331px;
  border: none;
  height: 1px;
}

@media (max-width: 1400px) {
  .Container {
    width: 300px;
  }

  .Line {
    width: 280px;
  }

  .avatarShape {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 1200px) {
  .Container {
    width: 250px;
  }

  .Line {
    width: 230px;
  }

  .avatarShape {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 950px) {
  .Container {
    width: 200px;
    margin-right: 15px;
  }

  .Line {
    margin: 0;
  }

  .PetName {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 19px;
  }

  .Line {
    width: 180px;
  }

  .avatarShape {
    height: 80px;
    width: 80px;
  }

  .LinkButton {
    margin-top: 10px;
  }
}

@media (max-width: 660px) {
  .Container {
    width: 450px;
    height: 200px;
    margin-bottom: 15px;
  }

  .Block {
    flex-direction: row;
  }

  .AvatarAndName {
    margin-left: 20px;
  }

  .Line {
    display: none;
  }

  .LinkButton {
    position: relative;
    top: -30px;
    left: -5px;
    width: 100%;
    margin-left: 50px;
    margin-top: 10px;
  }

  .changeAvatar {
    font-size: 10px;
  }
}

@media (max-width: 490px) {
  .Container {
    width: 300px;
    height: 190px;
    margin-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .AvatarAndName {
    margin-left: 10px;
  }

  .LinkButton {
    position: relative;
    width: 100%;
    margin-left: 0px;
    margin-top: 15px;
    width: 120px;
    height: 40px;
  }
}
