@import url('./stylesConstants.css');

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--header-color);
  width: 370px;
  margin-right: 28px;
  border-radius: 10px;
}

.PetName {
  margin-top: 21px;
  margin-bottom: 14px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
}

.PhotoPet {
  width: 200px;
  margin-bottom: 14px;
}

.Line {
  color: var(--active-button-color);
  background-color: var(--active-button-color);
  width: 331px;
  border: none;
  height: 1px;
}
