@import url('./stylesConstants.css');

.Header {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  height: 75px;
  background-color: var(--white-color);
  align-items: center;
  position: fixed;
  border-bottom: 1px solid #7aa338;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.Name {
  color: var(--dark-green-color);
  font-family: 'Noto Sans JP', sans-serif;
  margin-left: 23px;
  font-weight: bold;
  font-size: 34px;
  line-height: 49px;
}

.PopUpName {
  margin-left: 0px;
}

.ButtonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.BackButton {
  height: 75px;
  padding-left: 15px;
  padding-right: 18px;
}

.PopUpHeader {
  display: flex;
  align-items: center;
}

.NotPetButton {
  display: flex;
  align-items: center;
  height: 75px;
  outline: none;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
