@import url('./stylesConstants.css');

.Header {
  display: flex;
  justify-content: space-between;
  height: 75px;
  background-color: var(--header-color);
  align-items: center;
}

.Name {
  color: var(--active-button-color);
  font-family: 'Noto Sans JP', sans-serif;
  margin-left: 23px;
  font-weight: bold;
  font-size: 34px;
  line-height: 49px;
}

.ButtonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.BackButton {
  height: 75px;
  padding-left: 15px;
  padding-right: 15px;
}

.PopUpHeader {
  display: flex;
  align-items: center;
}
