@import url('./stylesConstants.css');

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  width: 176px;
  height: 112px;
}

.Enabled {
  color: white !important;
  text-decoration: none;
  background-color: var(--active-button-color);
}

.Disabled {
  color: black !important;
  text-decoration: none;
  background-color: var(--header-color);
}
