@import url('./stylesConstants.css');

.InformationBlock {
  width: 80%;
}

.InformationLine {
  display: flex;
  align-items: flex-end;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.Name {
  margin: 2px;
}

.Value {
  margin: 2px;
}

@media (max-width: 950px) {
  .InformationLine {
    font-size: 15px;
  }

  .Name {
    margin: 1px;
  }

  .Value {
    margin: 1px;
  }
}
