@import url('./stylesConstants.css');

.InformationBlock {
  width: 80%;
}

.InformationLine {
  display: flex;
  align-items: flex-end;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
  line-height: 24px;
}

.Name {
  margin: 2px;
}

.Value {
  margin: 2px;
}

@media (max-width: 950px) {
  .InformationBlock {
    width: 180px;
  }

  .InformationLine {
    width: 170px;
    font-size: 13px;
    line-height: 18px;
  }

  .Name {
    margin: 1px;
  }

  .Value {
    margin: 1px;
  }
}

@media (max-width: 660px) {
  .InformationBlock {
    margin-top: 100px;
    height: 100%;
  }

  .InformationLine {
    width: 200px;
    font-size: 15px;
    line-height: 23px;
  }

  .Name {
    margin-right: 2px;
  }

  .Value {
    margin-left: 2px;
  }
}

@media (max-width: 490px) {
  .InformationBlock {
    margin-top: 100px;
    margin-left: 0px;
    height: 100%;
  }

  .InformationLine {
    font-size: 14px;
    line-height: 18px;
  }
}
