@import url('./stylesConstants.css');

.MedicalCard {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  overflow: auto;
}

.Card {
  display: flex;
  margin-left: 14px;
  min-height: 7px;
}

.VisitReason {
  width: calc(100% - 30px);
  font-weight: 500;
}

.Name {
  margin-right: 5px;
}

.Line {
  color: var(--dark-green-color);
  background-color: var(--dark-green-color);
  width: calc(100% - 30px);
  border: none;
  height: 1px;
}

.DFlex {
  display: flex;
}

.NameAndDate {
  display: flex;
}

.Date {
  margin-left: auto;
}

.MoreButton {
  padding-top: 4px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  fill: rgb(175, 175, 175);
}

.MoreButton:hover {
  fill: var(--dark-green-color);
}

.MoreMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 150px;
  height: 60px;
  margin-bottom: -50px;
  margin-left: -190px;
  margin-right: 38px;
  border-radius: 10px;
  background-color: var(--white-color);
  border: 1px solid var(--dark-green-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.OptionLine {
  width: 150px;
  margin: 0;
  color: var(--dark-green-color);
  background-color: var(--dark-green-color);
  border: none;
  height: 10px;
  height: 1px;
}

.Option {
  width: 100%;
  height: 50%;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

.EditOption {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.DeleteOption {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.Option:hover {
  background-color: var(--dark-green-color);
  color: var(--white-color);
}

@media (max-width: 950px) {
  .MedicalCard {
    font-size: 15px;
    line-height: 22px;
  }
}
