@import url('./stylesConstants.css');

.Container {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  width: 920px;
  height: auto;
  border-radius: 10px;
  border: 1px solid var(--dark-green-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Name {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  margin-top: 15px;
  margin-left: 36px;
}

.Line {
  margin: 0;
  margin-left: 10px;
  color: var(--dark-green-color);
  background-color: var(--dark-green-color);
  width: 884px;
  border: none;
  height: 1px;
}

.SearchButton {
  height: 30px;
  fill: var(--dark-green-color);
  margin-right: 36px;
  margin-top: 13px;
  margin-left: 20px;
  cursor: pointer;
}

.NameAndSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.EmptyStoryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.EmptyStory {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: #c4c4c4;
}

.MedicalCardContainer {
  overflow: auto;
}

.SearchContainer {
  width: 700px;
  height: 48px;
  margin-top: 2px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-content: center;
}

.SearchLine {
  width: 530px;
  margin-top: 5px;
  height: 47px;
  font-size: 18px;
  line-height: 26px;
  border: 0;
}

.SearchLine:focus {
  outline: none;
}

.SearchLine::placeholder {
  color: #c4c4c4;
}

@media (max-width: 1400px) {
  .Container {
    width: 750px;
  }

  .Line {
    width: 730px;
  }

  .EmptyStoryContainer {
    height: 442px;
  }
}

@media (max-width: 1200px) {
  .Container {
    width: 550px;
  }

  .Line {
    width: 530px;
  }

  .SearchLine {
    width: 450px;
  }

  .EmptyStory {
    font-size: 20px;
  }
}

@media (max-width: 950px) {
  .Container {
    width: 395px;
  }

  .Line {
    width: 370px;
  }

  .SearchLine {
    margin: 0;
    width: 290px;
    height: 35px;
  }

  .SearchContainer {
    height: 36px;
  }

  .Name {
    margin-top: 3px;
    margin-left: 10px;
    font-size: 19px;
  }

  .SearchButton {
    margin-top: 3px;
    margin-right: 10px;
  }

  .EmptyStoryContainer {
    height: 354px;
  }

  .EmptyStory {
    font-size: 18px;
    margin: 20px;
    text-align: center;
  }
}

@media (max-width: 660px) {
  .Container {
    width: 450px;
    margin-left: -15px;
  }

  .Line {
    width: 430px;
  }

  .SearchLine {
    width: 350px;
  }

  .MedicalCardContainer {
    height: 400px;
  }
}

@media (max-width: 490px) {
  .Container {
    width: 300px;
    margin-left: -15px;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .Line {
    margin-left: 0;
    width: 300px;
  }

  .SearchLine {
    width: 230px;
  }

  .MedicalCardContainer {
    height: 300px;
  }
}
