@import url('./stylesConstants.css');

.Container {
  display: flex;
  flex-direction: column;
  background-color: var(--header-color);
  width: 920px;
  border-radius: 10px;
}

.Name {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  margin-top: 15px;
  margin-left: 36px;
}

.Line {
  margin: 0;
  margin-left: 10px;
  color: var(--active-button-color);
  background-color: var(--active-button-color);
  width: 884px;
  border: none;
  height: 1px;
}

.SearchButton {
  height: 30px;
  fill: var(--active-button-color);
  margin-right: 36px;
  margin-top: 13px;
  margin-left: 20px;
  cursor: pointer;
}

.NameAndSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.MedicalCardContainer {
  overflow: auto;
}

.SearchContainer {
  width: 700px;
  height: 48px;
  margin-top: 2px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-content: center;
}

.SearchLine {
  width: 530px;
  margin-top: 5px;
  height: 47px;
  font-size: 18px;
  line-height: 26px;
  border: 0;
}

.SearchLine:focus {
  outline: none;
}

.SearchLine::placeholder {
  color: #c4c4c4;
}
