@import url('./stylesConstants.css');

.profileSpace {
  display: flex;
  background-color: var(--main-bg-color);
  height: 100%;
  width: 100%;
  justify-content: space-around;
}

.profileWrapper {
  display: flex;
  margin-top: 100px;
  background-color: var(--header-color);
  flex-direction: column;
  width: 1318px;
  min-height: 650px;
  border-radius: 10px;
}

.formSpace {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-right: 86px;
}

.fieldsColumn {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding: 2vh;
}

.saveButton {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background-color: var(--active-button-color);
  color: var(--header-color);
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  width: 182px;
  height: 46px;
  margin-right: 50px;
  margin-left: auto;
  cursor: pointer;
  outline: none;
}

.changeAvatar {
  display: flex;
  border: none;
  color: var(--active-button-color);
  background-color: var(--header-color);
  font-size: 2.5vh;
  cursor: pointer;
  outline: none;
}

.avatarSample {
  display: flex;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: var(--main-bg-color);
  margin: 50px;
}

.avatarWrapper {
  display: flex;
  height: inherit;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.input {
  display: flex;
  height: 5.5vh;
  width: 90%;
  outline: none;
  border: 1px solid var(--active-button-color);
  border-radius: 10px;
  padding-left: 2vh;
  padding-right: 2vh;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.text {
  display: flex;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.noteText {
  color: var(--active-button-color);
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  line-height: 26px;
  margin-left: 2px;
}

.Success {
  display: flex;
  justify-content: center;
  margin-left: auto;
  height: 20px;
  margin-right: 50px;
  width: 182px;
  margin-bottom: 50px;
}

.BirthdayContainer {
  display: flex;
}

.BirthdayDay {
  padding: 0;
  padding-left: 13px;
  box-sizing: border-box;
  width: 46px;
}

.BirthdayYear {
  padding: 0;
  padding-left: 13px;
  box-sizing: border-box;
  width: 66px;
}

.BirthdayInputAndText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 14px;
}

.BirthdayText {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  color: var(--active-button-color);
}
