@import url('./stylesConstants.css');

.Container {
  position: fixed;
  top: 100px;
  right: 50px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans JP', sans-serif;
}

.SignUpContainer {
  margin-right: 100px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans JP', sans-serif;
}

.SignUpForm {
  width: 540px;
  height: 570px;
  background-color: var(--white-color);
  border: 1px solid var(--dark-green-color);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.55);
  border-radius: 10px;
}

.SignInContainer {
  width: 271px;
  height: 375px;
}

.FormName {
  margin: 20px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--dark-green-color);
}

.Block {
  display: flex;
  flex-direction: row;
}

.FormInput {
  margin: 19.5px;
  height: 40px;
  font-size: 18px;
  line-height: 21px;
  border: none;
  border-bottom: 1px solid #c4c4c4;
}

.FormInputIn {
  margin: 15px 19.5px;
}

.FormInput::placeholder {
  color: var(--placeholder-color);
}

.FormInput:focus {
  outline: none;
  color: var(--dark-green-color);
  border-bottom: 1px solid var(--dark-green-color);
}

.Warning {
  font-size: 18px;
  line-height: 21px;
  color: var(--dark-green-color);
  text-align: center;
  margin-top: 15px;
}

.SubmitButton {
  outline: none;
  border: none;
  width: 100%;
  height: 57px;
  margin-top: 47px;
  font-size: 24px;
  line-height: 28px;
  background-color: var(--dark-green-color);
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.SubmitContactButton {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.SubmitSignIn {
  margin-top: 34px;
}

.SignIn {
  text-align: center;
  margin-top: 20px;
  color: var(--dark-green-color);
  font-size: 18px;
  line-height: 21px;
}

.SignInButton {
  outline: none;
  border: none;
  background: none;
  color: var(--dark-green-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
}

.SignInButton:visited {
  color: var(--dark-green-color);
}

.WrongMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 500px;
  height: 45px;
  padding-left: 20px;
  color: rgb(226, 0, 0);
  font-size: 16px;
  line-height: 16px;
}

.SignInWidth {
  align-items: flex-start;
  width: 231px;
  height: 34px;
}

.ContactForm {
  width: 540px;
  height: 434px;
  background-color: var(--white-color);
  border: 1px solid var(--dark-green-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-right: 100px;
}

.Text {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  margin-left: 20px;
  margin-top: 20px;
}

@media (max-width: 750px) {
  .ContactForm {
    margin: 0;
  }

  .SignUpContainer {
    margin: 0;
  }
}

@media (max-width: 640px) {
  .ContactForm {
    width: 460px;
  }

  .SignUpForm {
    width: 460px;
  }

  .SignInContainer {
    width: 250px;
  }
}

@media (max-width: 480px) {
  .ContactForm {
    width: 280px;
    height: 284px;
  }

  .SignUpForm {
    height: 395px;
    width: 280px !important;
  }

  .FormName {
    margin: 0;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 16px;
  }

  .Block {
    flex-direction: column;
  }

  .Text {
    margin: 0;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 15px;
  }

  .FormInput {
    margin: 0;
    margin-top: 5px;
    margin-left: 10px;
    width: 230px;
    font-size: 15px;
    height: 25px;
    margin-bottom: 5px;
  }

  .Warning {
    margin: 5px;
    font-size: 12px;
  }

  .SubmitButton {
    margin-top: 0;
    font-size: 15px;
    height: 35px;
  }

  .SignUpForm {
    width: 460px;
  }

  .SignInButton,
  .SignIn {
    margin: 5px;
    font-size: 14px;
  }

  .Container {
    margin-right: 0;
  }

  .SignInContainer {
    margin-right: 0;
    height: 200px;
    width: 250px !important;
  }
}
