@import url('../stylesConstants.css');

.DiaryContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 110px);
  margin-top: 100px;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.DiaryBlocks {
  border-radius: 10px;
  width: 650px;
  height: 618px;
  background-color: var(--white-color);
  border: 1px solid var(--dark-green-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.DiaryBlocks:first-child {
  margin-right: 18px;
}

.NameAndSearch {
  display: flex;
  align-items: center;
}

.Name {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  margin-top: 15px;
  margin-left: 36px;
  margin-bottom: 8.5px;
}

.Buttons {
  margin-left: auto;
}

.Button {
  height: 30px;
  fill: var(--dark-green-color);
  margin-top: 10px;
  margin-right: 20px;
  padding: 5px;
  padding-bottom: 0;
  cursor: pointer;
}

.Line {
  color: var(--dark-green-color);
  background-color: var(--dark-green-color);
  width: 601px;
  border: none;
  height: 1px;
  margin: 0;
  margin-left: 23.5px;
}

.EmptyStoryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.EmptyStory {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: #c4c4c4;
}

.Procedures {
  height: 558px;
  overflow: auto;
}

.ProcedureBlock {
  display: flex;
  align-items: center;
  margin-top: 21px;
  margin-left: 36px;
  margin-right: 46px;
}

.ProcedurePhoto {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: url(../../icons/tablet.svg) no-repeat 12px var(--dark-green-color);
}

.InformationBlock {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  line-height: 26px;
  margin-left: 20px;
}

.MoreButton {
  margin-left: auto;
  cursor: pointer;
  padding: 5px;
  fill: rgb(175, 175, 175);
}

.MoreButton:hover {
  fill: var(--dark-green-color);
}

.BackButton {
  padding-top: 11px;
  padding-left: 7px;
  height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ProcedureContainer {
  margin-left: 24px;
  margin-right: 24px;
}

.NewProcedureName {
  margin-left: 0;
}

.ProcedureText {
  margin-top: 30px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.ReminderText {
  margin-top: 14px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.ProcedureEntryBlock {
  display: flex;
}

.noteText {
  margin-top: 30px;
  color: var(--dark-green-color);
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  line-height: 26px;
  margin-left: 2px;
  margin-top: 30px;
}

.noteReminderText {
  margin-top: 14px;
  color: var(--dark-green-color);
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  line-height: 26px;
  margin-left: 2px;
}

.input {
  display: flex;
  outline: none;
  height: 42px;
  width: 565px;
  border: 1px solid var(--dark-green-color);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 13px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.input:focus {
  background-color: whitesmoke;
}

textarea.input {
  height: 85px;
  resize: none;
}

.saveButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background-color: var(--dark-green-color);
  color: var(--white-color);
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  width: 182px;
  height: 46px;
  margin-left: auto;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.inputAndTextWrapper {
  display: flex;
  flex-direction: column;
}

.SearchContainer {
  width: 700px;
  height: 48px;
  margin-top: 11px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
}

.SearchLine {
  padding: 0;
  padding-left: 17px;
  width: 530px;
  height: 47px;
  font-size: 18px;
  line-height: 26px;
  background-color: #fff;
  border: 0;
}

.SearchLine:focus {
  outline: none;
}

.SearchLine::placeholder {
  color: #c4c4c4;
}

.SearchButton {
  fill: var(--dark-green-color);
  height: 30px;
  margin-left: 20px;
}

.MoreMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 150px;
  height: 60px;
  margin-top: -62px;
  margin-left: 420px;
  border-radius: 10px;
  background-color: var(--white-color);
  border: 1px solid var(--dark-green-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.OptionLine {
  width: 150px;
  margin: 0;
  color: var(--dark-green-color);
  background-color: var(--dark-green-color);
  border: none;
  height: 10px;
  height: 1px;
}

.Option {
  width: 100%;
  height: 50%;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

.EditOption {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.DeleteOption {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.Option:hover {
  background-color: var(--dark-green-color);
  color: var(--white-color);
}

@media (max-height: 750px) {
  .DiaryBlocks {
    height: 550px;
  }

  .ProcedureText {
    margin-top: 10px;
  }

  .ReminderText {
    margin-top: 10px;
  }

  .input {
    margin-top: 4px;
    margin-bottom: 4px;
    height: 35px;
  }

  .saveButton {
    height: 40px;
  }

  .noteText {
    margin-top: 10px;
  }

  .noteReminderText {
    margin-top: 10px;
  }

  .Procedures {
    height: 490px;
  }
}

/* @media (max-height: 670px) {
  .DiaryBlocks {
    height: 450px;
  }
} */

@media (max-width: 1400px) {
  .DiaryBlocks {
    width: 580px;
  }

  .Line {
    width: 550px;
  }

  .SearchLine {
    width: 460px;
  }

  .input {
    width: 490px;
  }
}

@media (max-width: 1200px) {
  .DiaryBlocks {
    width: 480px;
  }

  .Line {
    width: 450px;
  }

  .SearchLine {
    width: 300px;
  }

  .input {
    width: 390px;
  }
}

/* выпадающие списки */

.diaryOptionArrowButton {
  position: absolute;
  display: inline-block;
  top: 5px;
  right: 10px;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 35px;
  height: 35px;
  outline: none;
  padding: 0;
}

.diaryOptionBlock {
  position: relative;
  margin-top: 13px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  border: 1px solid var(--dark-green-color);
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  border-radius: 10px;
  width: 607px;
  height: 46px;
  outline: none;
  cursor: pointer;
}

.diaryOptionsBox {
  position: absolute;
  top: 58px;
  left: 6px;
  background-color: #fff;
  width: 594px;
  border: 1px solid var(--dark-green-color);
  border-top: none;
  border-radius: 5px;
}

.diaryOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid var(--dark-green-color);
  height: 42px;
}
.diaryOption:hover {
  background-color: var(--dark-green-color);
  color: #fff;
  font-weight: 500;
}

.diaryOptionInput {
  display: none;
}

.diaryOptionLabel {
  display: flex;
  padding-left: 13px;
  padding-top: 13px;
  cursor: pointer;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  width: 280px;
  height: 42px;
}

.diaryOptionWrapper {
  position: relative;
}

@media (max-width: 1400px) {
  .diaryOptionBlock {
    width: 532px;
  }

  .diaryOptionsBox {
    width: 520px;
    left: 5px;
  }
}

@media (max-width: 1200px) {
  .diaryOptionBlock {
    width: 432px;
  }

  .diaryOptionsBox {
    width: 420px;
    left: 5px;
  }
}

@media (max-height: 750px) {
  .diaryOptionBlock {
    height: 39px;
    line-height: 22px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .diaryOptionsBox {
    width: 420px;
    top: 42px;
    left: 5px;
  }

  .diaryOptionArrowButton {
    top: 3px;
  }
}
