@import url('../stylesConstants.css');

.PatientsContainer {
  margin-top: 14px;
  background-color: #fff;
  border-radius: 10px;
  width: 1318px;
  height: 125px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid var(--dark-green-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.PatientInfo {
  display: flex;
}

.Photo {
  display: flex;
  margin-left: 16px;
  margin-right: 33px;
  fill: #c4c4c4;
}

.avatarShape {
  display: flex;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-left: 22px;
  margin-right: 27px;
  object-fit: cover;
}

.avatarSample {
  background-color: var(--grey-green-color);
}

.InfoContainer {
  width: 355px;
  overflow: hidden;
  display: flex;
}

.InfoContainer:not(:last-child) {
  margin-right: 30px;
}

.InfoText {
  display: flex;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.InfoName {
  font-weight: 500;
  margin-right: 10px;
  color: var(--dark-green-color);
}
a {
  text-decoration: none;
}

a:visited {
  color: white;
}

.Buttons {
  display: flex;
  flex-direction: row;
}

.HistoryButton {
  height: 47px;
  width: 200px;
  /* margin-left: auto; */
  margin-right: 20px;
  background-color: var(--dark-green-color);
  border-radius: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.HistoryLink {
  margin-left: auto;
}

@media (max-width: 1400px) {
  .PatientsContainer {
    width: 1080px;
  }

  .InfoContainer {
    width: 267px;
  }
}

@media (max-width: 1200px) {
  .PatientsContainer {
    width: 828px;
  }

  .Column {
    margin: 0;
  }

  .HistoryButton {
    width: 170px;
    height: 50px;
  }

  .InfoContainer {
    width: 370px;
  }

  .Column:nth-child(2) {
    display: none;
  }
}
