@import url('../stylesConstants.css');

.PatientsContainer {
  margin-top: 14px;
  background-color: #fff;
  border-radius: 10px;
  width: 1318px;
  height: 125px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #7aa338;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.PatientInfo {
  display: flex;
}

.Photo {
  display: flex;
  margin-left: 16px;
  margin-right: 33px;
  fill: #c4c4c4;
}

.InfoContainer {
  width: 430px;
  overflow: hidden;
  display: flex;
}

.InfoContainer:not(:last-child) {
  margin-right: 30px;
}

.InfoText {
  display: flex;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.InfoName {
  font-weight: 500;
  margin-right: 10px;
  color: var(--active-button-color);
}
a {
  text-decoration: none;
}

a:visited {
  color: white;
}

.HistoryButton {
  height: 47px;
  width: 203px;
  margin-left: auto;
  margin-right: 31px;
  background-color: var(--active-button-color);
  border-radius: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.HistoryLink {
  margin-left: auto;
}

@media (max-width: 1400px) {
  .PatientsContainer {
    width: 1080px;
  }

  .InfoContainer {
    width: 320px;
  }
}

@media (max-width: 1200px) {
  .PatientsContainer {
    width: 828px;
  }

  .Column {
    margin: 0;
  }

  .HistoryButton {
    width: 150px;
    height: 60px;
  }

  .InfoContainer {
    width: 240px;
  }
}
