@import url('../stylesConstants.css');

.SearchContainer {
  width: 1320px;
  height: 48px;
  margin-top: 50px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
}

.SearchLine {
  padding: 0;
  padding-left: 17px;
  width: 1220px;
  height: 47px;
  font-size: 18px;
  line-height: 26px;
  background-color: #fff;
  border: 0;
}

.SearchLine:focus {
  outline: none;
}

.SearchLine::placeholder {
  color: #c4c4c4;
}

.SearchButton {
  fill: var(--active-button-color);
  height: 30px;
  margin-left: 11px;
}
